### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

In [2]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [4]:
# Verifying clean
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [5]:
unique_items = purchase_data_df["Item ID"].value_counts()
unique_items_df = pd.DataFrame(unique_items)
unique_items_df.head()

     Item ID
92        13
178       12
108        9
132        9
82         9

In [6]:
purchase_data_df["SN"].value_counts().head()

Lisosia93       5
Iral74          4
Idastidru52     4
Umolrian85      3
Saistyphos30    3
Name: SN, dtype: int64

In [7]:
total_unique_items = unique_items_df["Item ID"].count()
total_unique_items

# total_unique_items_df = pd.DataFrame(total_unique_items)
# total_unique_items_df

179

In [8]:
player_count = purchase_data_df["SN"].count()
player_count

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
total_spent = purchase_data_df["Price"].sum()
total_spent

2379.77

In [10]:
avg_price = total_spent/player_count
avg_price

3.0509871794871795

In [11]:
spending_summary_df = pd.DataFrame({"Number of Unique Items":[total_unique_items], "Average Price": [avg_price],
                                    "Number of Purchase":[player_count], "Total Revenue":[total_spent]})
spending_summary_df

   Number of Unique Items  Average Price  Number of Purchase  Total Revenue
0                     179       3.050987                 780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
purchase_data_df['Gender'].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [13]:
only_males_df=purchase_data_df.loc[purchase_data_df['Gender']=='Male']
only_males_df
males_unique_df = only_males_df.groupby(['SN'])
unique_male_count = len(males_unique_df['SN'].unique())
unique_male_count

484

In [14]:
only_females_df=purchase_data_df.loc[purchase_data_df['Gender']=='Female']
only_females_df
females_unique_df = only_females_df.groupby(['SN'])
unique_female_count = len(females_unique_df['SN'].unique())
unique_female_count

81

In [15]:
only_other_df=purchase_data_df.loc[purchase_data_df['Gender']=='Other / Non-Disclosed']
only_other_df
other_unique_df = only_other_df.groupby(['SN'])
unique_other_count = len(other_unique_df['SN'].unique())
unique_other_count
# other_per = other_count/(male_count + female_count + other_count)
# other_per

11

In [16]:
total_unique_count=(unique_male_count + unique_female_count + unique_other_count)
total_unique_count

576

In [17]:
unique_male_percent = unique_male_count/total_unique_count
unique_female_percent = unique_female_count/total_unique_count
unique_other_percent = unique_other_count/total_unique_count

In [18]:
summary_df = pd.DataFrame([
    {"Gender": "Male", "Count": unique_male_count, "Percentage": unique_male_percent},
    {"Gender": "Female", "Count": unique_female_count, "Percentage": unique_female_percent},
    {"Gender": "Other", "Count": unique_other_count, "Percentage": unique_other_percent}
    ]).set_index("Gender")
summary_df

        Count  Percentage
Gender
Male      484    0.840278
Female     81    0.140625
Other      11    0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
male_purch_count = only_males_df["Purchase ID"].count()
female_purch_count = only_females_df["Purchase ID"].count()
other_purch_count = only_other_df["Purchase ID"].count()
other_purch_count

15

In [20]:
all_male_purch_total = only_males_df["Price"].sum()
avg_male_price = all_male_purch_total/male_purch_count
all_female_purch_total = only_females_df["Price"].sum()
avg_female_price = all_female_purch_total/female_purch_count
all_other_purch_total = only_other_df["Price"].sum()
avg_other_price = all_other_purch_total/other_purch_count

avg_other_price

3.3459999999999996

In [21]:
male_avg_total_per = all_male_purch_total/unique_male_count
female_avg_total_per = all_female_purch_total/unique_female_count
other_avg_total_per = all_other_purch_total/unique_other_count

other_avg_total_per

4.5627272727272725

In [22]:
summary_df2 = pd.DataFrame([
    {"Gender": "Female", "Purchase Count": female_purch_count, "Average Purchase Price": avg_female_price, 
     "Total Purchase Value": all_female_purch_total, "Avg Total Purchase per Person": female_avg_total_per},
    {"Gender": "Male", "Purchase Count": male_purch_count, "Average Purchase Price": avg_male_price, 
     "Total Purchase Value": all_male_purch_total, "Avg Total Purchase per Person": male_avg_total_per},
    {"Gender": "Other", "Purchase Count": other_purch_count, "Average Purchase Price": avg_other_price, 
     "Total Purchase Value": all_other_purch_total, "Avg Total Purchase per Person": other_avg_total_per}
    ]).set_index("Gender")
summary_df2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [28]:
bins = [0,10,14,19,24,29,34,39,100]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# all_unique_df = purchase_data_df.groupby(['SN'])
# all_unique_df.head()

purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
purchase_data_df.head()

# purchase_data_df = purchase_data_df.groupby("Age")

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [ ]:
purchase_data_df['Age Range'].value_counts()

In [43]:
# This should be unique values
purchase_data_df['Age Range'].value_counts()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
<10       32
10-14     19
40+       13
Name: Age Range, dtype: int64

In [38]:
total_purchases = age_grouped_df["Price"].sum()
total_purchases

Age Range
<10       108.96
10-14      50.95
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame